<div class="container has-text-centered">
	<br>
	<h1 class="heading is-size-2" style="font-family: verdana;">--About us--</h1>
</div>
<br>
<div class="box is-pulled-left" style="height: 100rem; width: 40rem;">
	<div class="column is-home-left-column" style="background-color: #342E37;">
		<div class="content">
			<div class="figure" style="width: 20rem;"><%= image_tag("profile/Myprofile.jpeg") %></div>
			<section class="section about">
				<div class="container">
					<div class="content has-text-centered">
						<div class="header-intro">
							<h5 class="text" style="font-size: xx-large; font-family: courier; color: yellow;">Subramanian Thiagarajan</h5>
						</div>
					</div>
					<div class="columns">
						<div class="column is-12 my-profile">
							<h5 class="title has-text-centered" style="color: yellow;">My Profile</h5>
							<p class="text" style="color: yellow;">I am a problem solver, a creative thinker. I am always looking for the next challenge
								whether it be within programming or my other fields of interest. I have a few different
								passions; programming, chess, spending time with my friends/family.
							</p>
							<br>
							<ul class="about-list" style="color: yellow;">
								<li>
									<strong class="text" style="color: yellow;">Name:</strong><br>
									<span class="text" style="color: yellow;">Subramanian Thiagarajan</span>
								</li>
								<li>
									<strong class="text" style="color: yellow;">Date of Birth:</strong><br>
									<span class="text" style="color: yellow;">30th of July 1999</span>
								</li>
								<li>
									<strong class="text" style="color: yellow;">Current Location:</strong><br>
									<span class="text" style="color: yellow;">Tanjore, India</span>
								</li>
								<li>
									<strong class="text" style="color: yellow;">Current Job:</strong><br>
									<span class="text" style="color: yellow;">Student @SASTRA University</span>
								</li>
								<li>
									<strong class="text" style="color: yellow;">Email Address</strong><br>
									<a href="mailto:subbu@gmail.com"><span style="color: lightgreen;">subbu@gmail.com</span></a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</section>
			<section class="container my-profile">
				<h5 class="title has-text-centered" style="color: yellow;">Programming languages</h5>
				<br>
				<nav class="level" style="color: yellow;">
					<div class="level-item ">
						<span class="icon">
							<i class="fab fa-html5 fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<i class="fab fa-css3-alt fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<i class="fab fa-js fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<i class="fab fa-python fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<p class="text" style="font-weight: bold; font-size: x-large;">C++</p>
						</span>
					</div>
				</nav>
				<p class="text" style="color: yellow;">Other languages and framework</p>
				<ul style="color: yellow;">
					<li>
						<p class="text" style="color: yellow;">C</p>
					</li>
					<li>
						<p class="text" style="color: yellow;">Ruby</p>
					</li>
					<li>
						<p class="text" style="color: yellow;">Rails</p>
					</li>
					<li>
						<p class="text" style="color: yellow;">Bulma</p>
					</li>
					<li>
						<p class="text" style="color: yellow;">Bootstrap</p>
					</li>
				</ul>
			</section>

			<br><br>
			<h5 class="title has-text-centered" style="color: yellow;">My Projects can be viewed at:</h5>
			<nav class="level">
				<br>
				<div class="level-item">
					<div>
						<a class="button is-medium is-success" href="https://github.com/SubramanianThiagarajan">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
							<span>
								Github
							</span>
						</a>
					</div>
				</div>
			</nav>   
			<br>
			<h5 class="title has-text-centered" style="color: yellow;">Contact me</h5>
			
			<nav class="level">
				<br>
				<div class="level-item">
					<div>
						<a class="button is-medium" href="https://github.com/SubramanianThiagarajan">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-primary is-inverted is-medium" href="https://twitter.com/subbuthiagu">
							<span class="icon">
								<i class="fab fa-twitter"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-danger is-inverted is-medium">
							<span class="icon">
								<i class="fab fa-instagram"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-medium" style="color: #4875B4;" href="https://www.linkedin.com/in/subramanian-thiagarajan-231043166/">
							<span class="icon">
								<i class="fab fa-linkedin-in"></i>
							</span>
						</a>
					</div>
				</div>
			</nav>
			<br>

		</div>

	</div>
</div>


<div class="box is-pulled-right" style="height: 100rem; width: 40rem;">
	<div class="column is-home-right-column has-background-grey-lighter">

		<div class="content">
			<div class="figure" style="width: 22rem;"><%= image_tag("profile/prof2.jpeg") %></div>
			<section class="section about">
				<div class="container">
					<div class="content has-text-centered">
						<div class="header-intro">
							<h5 class="text" style="font-size: xx-large; font-family: courier;">Yadhuraj Rajeev</h5>
						</div>
					</div>
					<div class="columns">
						<div class="column is-12 my-profile">
							<h5 class="title has-text-centered">My Profile</h5>
							<p>
								I'm a rookie in the field of programming,Curious to learn new stuffs both in tecnical and non technical aspect, I'm more like an outdoor person,socializing and mangement is my jam.
							</p>
							<br>
							<ul class="about-list">
								<li>
									<strong>Name:</strong><br>
									<span>Yadhuraj Rajeev</span>
								</li>
								<li>
									<strong>Date of Birth:</strong><br>
									<span>21st of August 1999</span>
								</li>
								<li>
									<strong>Current Location:</strong><br>
									<span>Tanjore, India</span>
								</li>
								<li>
									<strong>Current Job:</strong><br>
									<span>Student @SASTRA University</span>
								</li>
								<li>
									<strong>Email Address</strong><br>
									<a href="mailto:yadhurajeev21@gmail.com"><span>yadhurajeev@gmail.com</span></a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</section>
			<section class="container my-profile">
				<h5 class="title has-text-centered">Programming languages</h5>
				<br>
				<nav class="level">
					<div class="level-item ">
						<span class="icon">
							<i class="fab fa-html5 fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<i class="fab fa-css3-alt fa-3x"></i>
						</span>
					</div>
					<div class="level-item">
						<span class="icon">
							<p class="text" style="font-weight: bold; font-size: x-large;">C++</p>
						</span>
					</div>
				</nav>
				<p class="text">Other languages and framework</p>
				<ul>
					<li>
						<p>C</p>
					</li>
					<li>
						<p>Ruby</p>
					</li>
					<li>
						<p>Rails</p>
					</li>
					<li>
						<p>Arduino</p>
					</li>
				</ul>
			</section>

			<br><br>
			<h5 class="title has-text-centered">My Projects can be viewed at:</h5>
			<nav class="level">
				<br>
				<div class="level-item">
					<div>
						<a class="button is-medium is-success" href="https://github.com/Yadhuraj">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
							<span>
								Github
							</span>
						</a>
					</div>
				</div>
			</nav>   
			<br>
			<h5 class="title has-text-centered">Contact me</h5>

			<nav class="level">
				<br>
				<div class="level-item">
					<div>
						<a class="button is-medium" href="https://github.com/Yadhuraj">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-primary is-inverted is-medium">
							<span class="icon">
								<i class="fab fa-twitter"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-danger is-inverted is-medium">
							<span class="icon">
								<i class="fab fa-instagram"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<div>
						<a class="button is-medium" style="color: #4875B4;">
							<span class="icon">
								<i class="fab fa-linkedin-in"></i>
							</span>
						</a>
					</div>
				</div>
			</nav>
			<br>

		</div>

	</div>

