<!-- Hero content: will be in the middle -->
<div class="level">
  <section class="hero is-success is-large">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          We love blogs, So we created one.............
        </h1>
        <h2 class="subtitle">
          A full stack development project based on Ruby On Rails
        </h2>
        <br>
        <h2 class="title">
          Take a look at our recent posts and feel free to contact us
        </h2>
      </div>
    </div>
  </section>
  <div class="level-right">
    <p><img class="is-rounded" src="https://www.cartoonbrew.com/wp-content/uploads/8093_2.jpg" alt="Hey it's me!" style ="width:25rem; height:25rem;"/></p>
  </div>
</div>