  </!DOCTYPE html>
  <html>
  <head>
  	<meta content='text/html; charset = UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Name: <%=@contact.name %></p>
  <p>Email_id: <%= @contact.email %> </p>
  <p>Message:</p>
  <%= @contact.message %>
  </body>
  </html>